body {
    padding-top: 40px;
    padding-bottom: 40px;
}

.text-muted {
    padding-top: 10px;
}

#bootstrap-override .container .jumbotron {
    background: blue !important; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, blue, yellow) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, blue, yellow) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, blue, yellow) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, blue, yellow) !important;
}

#nerbs-title {
    text-shadow: -1px 0 #9d9d9d, 0 1px #9d9d9d, 1px 0 #9d9d9d, 0 -1px #9d9d9d;
}

#bootstrap-override .control-label {
    text-align: left;
}

#bootstrap-override .tweet-date {
    text-align: right;
}

#bootstrap-override .list-group-item {
    height: 67px;
    margin-bottom: 10px;
    border-radius: 4px;
    padding-top: 5px;
    background-color: darkblue;
}

#bootstrap-override .list-group-item-heading {
    padding-top: 5px;
}

#bootstrap-override #singlebutton {
    background-color: seagreen;
}

#bootstrap-override .username-header-html {
    font-family: 'Tangerine', cursive;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}