<!DOCTYPE html>
<html lang="en">


<head>
    <title>Nerbs - A Twitter Clone</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>


<body id="bootstrap-override">

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <!-- <li role="presentation"><a href="showSignUp">Sign Up</a></li> -->
                    <li role="presentation"><a href="/">Log Out</a></li>
                </ul>
            </nav>
            <h4 class="text-muted">Nerbs - A Twitter App made with Python and Flask</h4>
        </div>

        <div id="jumbotron" class="jumbotron">
            <h1 id="nerbs-title">Nerbs Twitter App</h1>
            <p class="lead"></p>
            </p>
            <form class="form-signin" action="/signUp" method="post" role="form">
                <label for="inputUsername" class="sr-only">Username</label>
                <input type="username" name="inputUsername" id="inputUsername" placeholder="Username" required>
                <button id="login-register" type="submit">Login / Register</button>
            </form>
        </div>

        <div class="row marketing">
            <div class="col-lg-12">
                <h4>Nerbs Twitter Feed</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                <h4>Nerbs Twitter Feed</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

                <h4>Nerbs Twitter Feed</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

                <h4>Nerbs Twitter Feed</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                <h4>Nerbs Twitter Feed</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

                <h4>Nerbs Twitter Feed</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
        </div>

        <footer class="footer">
            <p>&copy; CoxDev, LLC 2017</p>
        </footer>

    </div>

    <script src="../static/js/jquery-3.1.1.js" type="text/javascript"></script>
    <script src="../static/js/login.js" type="text/javascript"></script>

</body>

</html>



