<!DOCTYPE html>
<html lang="en">


<head>
    <title>Nerbs - A Twitter Clone</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/user-page.css') }}" rel="stylesheet">
</head>


<body id="bootstrap-override">
    <div class="container">

        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Log Out</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Nerbs - A Twitter App made with Python and Flask</h3>
        </div>

        <section>
            <form class="form-horizontal" method="POST" action="/addPost">
                <fieldset>
                    <!-- Form Name -->
                    <legend>Create Your Post</legend>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-1 control-label" for="txtTitle">Title</label>
                        <div class="col-md-11">
                            <input id="txtTitle" name="inputTitle" type="text" placeholder="Enter title here" class="form-control input-md">
                        </div>
                    </div>
                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-1 control-label" for="txtPost">Post</label>
                        <div class="col-md-11">
                            <textarea class="form-control" id="txtPost" name="inputDescription" placeholder="Enter text here"></textarea>
                        </div>
                    </div>
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-1 control-label" for="singlebutton"></label>
                        <div class="col-md-11">
                            <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Publish">
                        </div>
                    </div>
                </fieldset>
            </form>
        </section>

        <div class="list-group">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">Post Title</h4>
                <p class="list-group-item-text">Post Text</p>
            </a>
        </div>




<!--
        <div class="row marketing">
            <div class="col-lg-12">
                <div id=core>
                    {% block dynamic %}
                    <h3>Nerbs Twitter Feed</h3>
                    <ul>
                        <li>{{t1}}</li>
                        <li>{{t2}}</li>
                        <li>{{t3}}</li>
                        <li>{{t4}}</li>
                    </ul>
                    {% endblock %}
                </div>

                <h4>Nerbs Twitter Feed</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

                <h4>Nerbs Twitter Feed</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                <h4>Nerbs Twitter Feed</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

                <h4>Nerbs Twitter Feed</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
        </div>
-->

        <footer class="footer">
            <p>&copy; CoxDev, LLC 2017</p>
        </footer>
    </div>

    <script type="text/javascript" src="../static/js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="../static/js/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="../static/js/jquery.fileupload.js"></script>
    <script type="text/javascript" src="../static/js/jquery.fileupload-process.js"></script>
    <script type="text/javascript" src="../static/js/jquery.fileupload-ui.js"></script>
    <script type="text/javascript" src="../static/js/user-page.js"></script>
    <script type="text/javascript" src="../static/js/get-user-posts.js"></script>

</body>

</html>